/*Google Font*/

body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav	{
	/*padding-top: 0.8rem;
	padding-right: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 0.8rem;*/
	padding: 0.8rem;
	/*shorthand property*/
	
	/*creates space between the nav and intro section */
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}


/*margin vs padding*/
/*maring - is best used when creating space between elements*/
/*padding - is best used when creating space betwwen an elements border and its contents*/

nav .nav, nav .nav-logo {
	/*
	margin-top: .5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	*/
	margin: 0.5rem;

	/*changes elements to inline elements */
	display: inline;
}

/*intro section*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	/*shorthand*/
	/*padding: 2rem 10% 3rem;*/
}

.header {
	text-align: center;
	/*text-align best used when horizontally aligning text instead of using our margins and paddings*/
}

#intro h2, #intro p {
	/*this creates space between the contents of the intro section*/
	margin-bottom: 1rem;
}

#intro button {
	color: white;

	/*changes the thickness of our text*/
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;

	/*creates space between the button text and the border*/
	padding: 1rem;
}

/*succeed info section*/
/*exact same properties as the intro section but can have its own rules for flexibility*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	/*this creates a space between the header and the card section*/
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*footer*/
footer {
	/*creates space between span tag and the footer border*/
	padding: 0.7rem;
}

footer span	{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	padding-left: 0.7rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	box-sizing: border-box;
	background-color: #202A44;
	/*shorthand*/
}

#pre-footer .sub-footer {
	display: inline-block;
	vertical-align: top;
	min-height: 50px;
	width: 20%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	color: white;
